@font-face {
  font-family: 'Pobeda';
  src: url('Pobeda-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pobeda';
  src: url('Pobeda-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Pobeda';
	font-size: 30px;
}

header,
figcaption,
footer {
	/* background-color: rgba(3,3,4, .5); */
	background-color: #343434;
}

/*---- Сетка ----*/

html {
	background: #fff;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	height: 100%;
	flex: auto;
}

header,
footer,
main {
	margin: 0 auto;
	width: 100%;
	padding: 0;
}
header>div,
main>div,
footer>div {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
	padding: 20px 40px;
}

header {
	display: flex;
	/* min-height: 200px; */
}

main {
	flex-grow: 1;
}

footer>div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.line {
	padding: 0;
	height: 15px;
	border-bottom: 5px solid rgba(3,3,4,.5);
}
/*---------------*/

/* --- header ---*/

header>div {
	flex-wrap: nowrap;
	justify-content: space-around;
}

.logo {
	height: 100%;
	
	flex: 0 2 100px;
	margin-right: 20px;
	margin-left: 20px;
	background-image: url(img/logo5.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

h1 {
	flex: 0 3 auto;
	font-size: 4rem;
	text-align: center;
}

h1 em {
	font-size: 4rem;
	font-style: normal;
	color: rgba(236,27,35, 1);
}

/* --------------*/

/* --- main ---*/


/* ---- basket ---- */
.shop_button {
	justify-content: flex-end;
	padding-top: 0;
	padding-bottom: 0;
}
.basket {

	z-index: 99;
	width: 60px;
	height: 60px;

	cursor: pointer;

	margin-top: -30px;
	margin-left: 10px;
	padding: 0;

	border-radius: 50%;

	/*box-shadow: 0px 2px 8px rgba(222, 222, 222, .6);*/

}
.basket:before {
	z-index: 1;
	
	cursor: pointer;

	content: '';
	display: block;
	width: 100%;
	height: 100%;

	/*width: 60px;
	height: 60px;*/
	border-radius: 50%;
	background-color: #fff;
	opacity: 1;
}

.basket:after {
	z-index: 999;

	cursor: pointer;

	content: '';
	display: block;
	width: 100%;
	height: 100%;

	margin-top: -100%;
	border-radius: 50%;

	box-shadow: 0px 2px 8px rgba(52, 52, 52, .7);
	cursor: pointer;
	transition: 0.2s all ease;

	background: url('img/basket_w.png') 0 0 no-repeat;

	/*background-color: #343434;*/
	background-color: rgba(236, 27, 35, 1);
	background-size: 50%;
	background-position: 45% center;

	transition: .2 opacity ease;

	opacity: 1;
}


.basket:hover:after {
/*	background: url('img/basket_r.png') 0 0 no-repeat;

	background-size: 50%;
	background-position: 45% center;
	background-color: rgba(222, 222, 222, 1);
	#9a4b4e
	background-color: rgba(236, 27, 35, 1);
	background-color: rgba(222, 222, 222, 1);
	*/
	opacity: .8;
}

/* ---- ---- ---- */

	

a {
	text-decoration: none;
	display: flex;
}

main>div {
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 30px;
}

figure {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-left: 10px;
	margin-bottom: 10px;
	transition: transform 0.5s ease;

/*
	border-left: 1px solid #343434;
	border-right:  1px solid #343434;*/
	box-shadow: 0 8px 6px -4px rgba(3,3,4, .2);
}

/*
figure:hover {
	transform: scale(1.05);
}*/



.img1 { background-image: url('img/t-shirt1.png'), radial-gradient(rgba(222,222,222,1), rgba(220,220,220,1), rgba(227,227,227,1));; }
.img2 { background-image: url('img/stick1.png'), radial-gradient(rgba(222,222,222,1), rgba(220,220,220,1), rgba(227,227,227,1));; }
.img3 { background-image: url('img/stick2.png'), radial-gradient(rgba(222,222,222,1), rgba(220,220,220,1), rgba(227,227,227,1));; }
.img4 { background-image: url('img/stick3.png'), radial-gradient(rgba(222,222,222,1), rgba(220,220,220,1), rgba(227,227,227,1)); }

.product {
	width: 100%;
	height: 250px;
	background-size: 110%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(222,222,222,1);


	-webkit-transition: background-size .2s ease-in;
	   -moz-transition: background-size .2s ease-in;
		-ms-transition: background-size .2s ease-in;
		 -o-transition: background-size .2s ease-in;
			transition: background-size .2s ease-in;
	/*border: 5px solid #343434;*/
}
.product:before {
	content: '';
	transition: all .2s ease-in;
}
.product:hover:before {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(3,3,4, .4);
	margin-bottom: -50px;
}

.product:hover {
	/*transform: scale(1.2);*/
	background-size: 140%;
	background-position: center;
}

button {
	outline: none;
	border: none;
	background-color: rgba(236, 27, 35, 1);
	box-shadow: 0 0 6px rgba(3,3,4, .2);
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
	padding: 6px 10px;

	width: 80%;
	margin: -20px 10% 0;
	cursor: pointer;
	border-radius: 2px;
	display: none;
	transition: .2s opacity ease;
}

.product:hover button {
	display: inline-block;
}

button:hover {
	opacity: .8;
	border: 2px solid rgba(3,3,4, .3);
}

figcaption {
	padding-top: 5px;
	margin-top: -5px;
	padding-bottom: 5px;
	width: 100%;
	text-align: center;	
}


figcaption h3:hover,
figcaption p:hover {
	color: rgba(236,27,35, 1);
}


/*.img1:hover { background: url('img/Без назви-2.png') -15px 0 no-repeat;}
.img2:hover { background: url('img/Без назви-2.png') -15px 0 no-repeat;}
.img3:hover { background: url('img/primat_FAM.png') -15px 0 no-repeat;}
.img4:hover { background: url('img/primat_FAM.png') -15px 0 no-repeat;}
*/


/* ------------*/

/* -- footer -- */

footer a {
	padding-left: 10px;
}
footer a:hover {
	
	color: rgba(236,27,35, 1);
}
/*
footer div {
	margin-top: 5px;
}*/

/* ------------ */

@media (max-width: 930px) {
	h1,
	h1 em {
		font-size: 3.5rem;
	}
	main>div {
		justify-content: space-between;
	}
}

@media (max-width: 820px) {

	.basket {
		margin-top: -25px;
		width: 50px;
		height: 50px;
	}

	h1,
	h1 em {
		font-size: 3rem;
	}
}

@media (max-width: 740px) {
	h1,
	h1 em {
		font-size: 2.5rem;
	} 

	.logo {
		margin-left: 0;
	}

	header>div,
	main>div,
	footer>div {
		padding-left: 12px;
		padding-right: 12px;
	}
	main>div {
		padding: 12px 12px 12px 0;
		/*padding-top: 12px;
		padding-left: 0;*/
	}

	footer>div{
		justify-content: center;
	}
}

@media (max-width: 715px) {
	header>div {
		justify-content: center;
	}
}

@media (max-width: 658px) {
	main>div {
		justify-content: space-around;
	}

	.basket {
		margin-right: 4%;
	}

	h1,
	h1 em {
		font-size: 2rem;
	} 
}

@media (max-width: 550px) {

	header {
		padding-top: 8px;
		padding-bottom: 8px;

	}
	
	h1,
	h1 em {
		font-size: 1.8rem;
	} 

	.basket {
		margin-right: 0;
	}


	.logo {
		margin: 0;
	}
}

@media (max-width: 460px) {
	h1,
	h1 em {
		font-size: 1.5rem;
	}
	figcaption h3,
	figcaption p,
	footer div span,
	footer div a {
		font-size: 0.85rem;
	}

	figure {
		width: 160px;
	}
	.product {
		height: 200px;
	}
}

@media (max-width: 390px) {
	figure {
		width: 135px;
	}
	.product {
		height: 175px;
	}

	figcaption h3,
	figcaption p,
	footer div span,
	footer div a {
		font-size: 0.8rem;
	}
}